.portfolio__div {
    position: relative;
    /* margin: 0 0 1000px 0; */
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

@media (min-width: 1000px) {
    .portfolio__container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #portfolio {
        position: absolute;
        top : -92px;
    }
}